.manage-revenue-container {
    .manage-revenue-content {
        .search-data {
            display: flex;
            gap: 70px
        }

        // display: flex;

        .chart {
            width: 1000px !important;
            height: 600px !important;

        }
    }
}