.detail-movie-container {
    height: 2000px;
    // border: 1px solid red;
    background: url('../../../assets/background.jpg');

    .intro-movie {
        display: flex;
        height: 400px;
        margin: 0 100px;

        .content-left {
            width: 30%;
            // border: 1px solid green;
            background: center center no-repeat;
            /* height: 400px; */
            margin: 10px 20px
        }

        .content-right {
            width: 70%;
            // border: 1px solid gray;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            span {
                color: yellow;
            }

            .up {
                font-size: 30px;
                font-weight: 100;


                .rating-total {
                    display: flex;


                    .star {}


                    .number-rating {

                        span {

                            font-size: 10px;
                        }
                    }

                }
            }

            .down {
                padding-top: 10px;
                font-size: 15px;
            }
        }
    }

    .showtimes {
        margin: 0 100px;
        height: 400px;
        // border: 1px solid orange;
    }
}