.detail-movie-container {
    height: 500px;
    border: 1px solid red;

    .intro-movie {
        display: flex;
        height: 400px;
        margin: 0 100px;

        .content-left {
            width: 30%;
            border: 1px solid green;
            background: center center no-repeat;
            /* height: 400px; */
            margin: 10px 20px
        }

        .content-right {
            width: 70%;
            border: 1px solid gray;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 30px;
                font-weight: 100;
            }

            .down {
                padding-top: 10px;
                font-size: 15px;
            }
        }
    }
}