.booking-seat-container {
    height: 1200px;
    background: url('../../../assets/background.jpg');

    .booking-seat {
        height: 100%;
        width: 80%;
        margin: 0 auto;

        .booking-online {
            height: 100px;
            margin: 0 100px;
            // border: 1px solid orange;

            span {
                font-size: 40px;
                display: block;
                text-align: center;
                // font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
                color: orange;
            }
        }

        .screen {
            height: 300px;
            margin: 0 100px;
            // border: 1px solid orange;

            span {
                font-size: 200px;
                display: block;
                text-align: center;
                // font-family: "Comic Sans MS", "Lucida Sans Unicode", sans-serif;
                color: rgb(13, 9, 2);
            }
        }

        .seat-btn {
            .seat-normal {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                cursor: pointer;
                margin: 0 50px;
                justify-content: center;

                button {
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: white;
                    min-width: 120px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #45c3d2;
                    }


                }
            }

            .seat-normal-child {
                &.active {
                    background-color: #4c45d2;
                }

                &--disabled {
                    background-color: #808080 !important;
                    cursor: not-allowed;
                }
            }

            .seat-vip {
                display: flex;
                gap: 30px;
                flex-wrap: wrap;
                cursor: pointer;
                margin: 0 50px;
                justify-content: center;

                button {
                    margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: rgb(241, 238, 43);
                    min-width: 120px;
                    border-radius: 3px;

                    &:hover {
                        background-color: #45c3d2;
                    }
                    &.active {
                        background-color: #4c45d2;
                    }
    
                    &.seat-vip-child--disabled {
                        background-color: rgba(120, 119, 33, 1) !important;
                        cursor: not-allowed;
                    }
                }


            }
        }

        .price {
            height: 200px;
            border: 1px solid green;
            margin-top: 20px;
            display: flex;
            gap: 20px;
            background-color: rgb(255, 197, 197);
            border-radius: 5px;
            padding: 0.5rem;

            span {
                color: black;
                font-size: 20px;
                font-weight: 700;
            }

            .content-left {
                width: 60%;
            }

            .content-right {
                width: 40%;
            }
        }

        .note {
            display: flex;
            text-align: center;
            margin-top: 50px;

            .normal {
                display: flex;
                // border: 1px solid red;
                margin-top: 30px;
                width: 100%;
                gap: 15px;
                justify-content: center;

                button {
                    height: 30px;
                    width: 30px;
                    // margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: white;
                    // min-width: 120px;
                    border-radius: 3px;

                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(21, 242, 50);
                }
            }

            .VIP {
                display: flex;
                // border: 1px solid red;
                margin-top: 30px;
                width: 100%;
                gap: 15px;
                justify-content: center;

                button {
                    height: 30px;
                    width: 30px;
                    // margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: rgb(241, 238, 43);
                    // min-width: 120px;
                    border-radius: 3px;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(21, 242, 50);
                }
            }

            .pick {
                display: flex;
                // border: 1px solid red;
                margin-top: 30px;
                width: 100%;
                gap: 15px;
                justify-content: center;

                button {
                    height: 30px;
                    width: 30px;
                    // margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: #45c3d2;
                    // min-width: 120px;
                    border-radius: 3px;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(21, 242, 50);
                }
            }

            .picked {
                display: flex;
                // border: 1px solid red;
                margin-top: 30px;
                width: 100%;
                gap: 15px;
                justify-content: center;

                button {
                    height: 30px;
                    width: 30px;
                    // margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: #4c45d2;
                    // min-width: 120px;
                    border-radius: 3px;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(21, 242, 50);
                }
            }

            .X {
                display: flex;
                // border: 1px solid red;
                margin-top: 30px;
                width: 100%;
                gap: 15px;
                justify-content: center;

                button {
                    height: 30px;
                    width: 30px;
                    // margin-top: 30px;
                    padding: 5 10px;
                    border: none;
                    outline: none;
                    background-color: grey;
                    // min-width: 120px;
                    border-radius: 3px;
                }

                span {
                    font-size: 15px;
                    font-weight: 600;
                    color: rgb(21, 242, 50);
                }
            }
        }

        .checkout-btn {
            margin: 50px auto;
            text-align: center;

            button {
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;

                &:disabled {
                    cursor: not-allowed;
                    background-color: rgba(#4CAF50, 0.9);
                }
            }
        }
    }
}